# Developers
.DS_STORE
.hg
.git
.svn
.idea/
.vscode/
.sass-cache/
*.db
*.pyc
__pycache__
*~

# Javascript libraries
/node_modules/

# Coverage reports
/reports/
/htmlcov/
/.coverage

# Environment
local.py
/env/
/media/
/static/
/mail/
/log/*.log*
/log/nginx/*.log*
.env
/deployment/app.*.yml

# Documentation
/doc/_build
/doc/_templates

# Static files
src/archiefbeheercomponent/static/bundles
src/archiefbeheercomponent/static/fonts/
src/archiefbeheercomponent/static/js/
private-media/
