@import "../../lib/bem";
@import "../../lib/colors";
@import "./select";

.input {
  border: 0;
  margin-bottom: 1em;
  padding: 0;
  position: relative;

  @include element('control') {
    border: 0;
    box-shadow: none;
    display: inline-block;
    font-size: 1.1rem;
    margin-right: 2rem;
    min-width: 0;
    width: 100%;

    @include modifier('text') {
      background: #fff;
      border: solid 1px #eee;
      border-radius: 0;
      color: $color-text;
      font-size: 1.4rem;
      overflow: visible;
      padding: 0.5rem 1rem;

      &:focus {
        box-shadow: none;
        outline: 2px solid $color-secondary;
      }
    }

    @include modifier('textarea') {
      border: solid 1px #eee;
      padding: 0.3rem 0.4rem;

      &:focus {
        outline: 2px solid $color-secondary;
      }
    }

    @include modifier('select') {
      @include select;
    }

    @include modifier('file') {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute !important;
      white-space: nowrap;
      width: 1px;

      & + label {
        display: inline-block;
        margin: 0;
        border: none;

        &:focus {
          outline: 2px solid $color-secondary;
        }
      }
    }
  }

  @include element('error') {
    color: #ff0000;
    display: none;
    font-weight: bold;
    margin-bottom: 0.4rem;
    margin-top: -0.8rem;
  }

  @include element('hint') {
    color: lighten($color-text, 20%);
    display: block;
    font-style: italic;
    margin-bottom: 0.4em;
    margin-top: 0.2rem;
  }

  @include element('label') {
    display: block;
    margin-bottom: 0.4em;
    font-size: 1.1rem;
    height: 25px;
  }
}

.input__label .label {
  font-size: 0.9rem;
  color: $color-text--light;

  &--optional {
    margin-left: 0.2em;
  }
}
