@import "../../lib/colors";

@mixin select() {
  background: #fff url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGFhZ18xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii03MDcgMTQ4OSAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48c3R5bGU+LnN0MHtmaWxsOm5vbmV9LnN0MXtmaWxsOiMyYjJiMmJ9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTcwNyAxNDg5aDI0djI0aC0yNHoiIGlkPSJfeDMyXzRweF9Cb3hlcyIvPjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0tNjg5LjkgMTQ5OC4zYy4xLjEuMi4zLjIuNXMtLjEuMy0uMi41bC00LjUgNC41Yy0uMS4xLS4zLjItLjUuMnMtLjMtLjEtLjUtLjJsLTQuNS00LjVjLS4xLS4xLS4yLS4zLS4yLS41cy4xLS4zLjItLjVjLjEtLjEuMy0uMi41LS4yaDljLjIgMCAuMy4xLjUuMnoiLz48L3N2Zz4=) no-repeat 100%;
  background-size: 25px auto;
  padding: 0 10px;
  padding-right: 35px;
  border: 1px solid #c8cacc;
  border-radius: 0;
  color: $color-text;
  height: 44px;
  -webkit-appearance: none;

  &:focus {
    outline: 2px solid $color-secondary;
  }
}
