{% load static demo_tutorial %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/all.min.css' %}">

    <link rel="icon" type="image/png" href="{% static 'ico/favicon.png' %}">

    {% block extra_style %}{% endblock %}

    <title>{% block title %}{% if title %}{{ title }}{% else %}{{ settings.SITE_TITLE }}{% endif %} | {{ settings.PROJECT_NAME }}{% endblock %}</title>
  </head>
  <body>

    {% if not settings.SITE_TITLE or not settings.PROJECT_NAME %}
      <div class="container">
        <div class="alert alert-danger">
          Please add the variables <em>SITE_TITLE</em> and <em>PROJECT_NAME</em> to your <em>settings.py</em> and make
          sure they are available via <em>context processors</em>.
        </div>
      </div>
    {% endif %}

    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">{{ settings.PROJECT_NAME }}</h1>
      <p class="lead">{{ settings.SITE_TITLE }}</p>
    </div>
  
    <div class="container text-center">
  
      <ul class="nav nav-tabs justify-content-center" id="languageChoice" role="tablist">
        <li class="nav-item ">
          <a class="nav-link text-info" id="en-tab" data-toggle="tab" href="#en" role="tab" aria-controls="en" aria-selected="true">English</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-info" id="nl-tab" data-toggle="tab" href="#nl" role="tab" aria-controls="nl" aria-selected="false">Nederlands</a>
        </li>
      </ul>
      <div class="tab-content" id="description">
        <div class="tab-pane fade" id="en" role="tabpanel" aria-labelledby="en-tab">
  
          <!-- English -->
          <br>
          <p>
            Record management is the practice of destroying data-records that have met their
            end-of-life time. "Zaakgericht werken" prescribes the archiving terms for cases
            that have been brought to an end.
          </p>
          <p>
            The Archiefvernietigingscomponent (AVC) provides functionality for record
            managers to schedule destruction of cases according to the archiving parameters.
            It implements a multi-step, multi-role accordance process.
          </p>
  
          {% if settings.AVC_DEMO_MODE %}
  
          <p>
            The <strong>demo mode</strong> is enabled and allows you to use this application, as seen from different
            roles. When you open the application, a tutorial is shown on the right side of the screen that explains all
            steps. You can freely explore this demo and even see the results in the configured
            <a class="text-info" href="https://opengem.nl/producten/open-zaak/">Open Zaak</a> instance. The demo data
            will be reset multiple times per day.
          </p>
  
          <p>
            Here are the roles available in the demo:
            <ul class="list-unstyled">
              <li>Functional administrator</li>
              <li>Process owner</li>
              <li>Archivist</li>
              <li>Record manager</li>
            </ul>
          </p>
  
          <p>
            <a href="{% demo_record_manager_login_url %}" class="btn btn-sm btn-info"><i class="fas fa-chalkboard-teacher"></i> Start tutorial</a>
          </p>
          {% endif %}
  
        </div>
        <div class="tab-pane fade show active" id="nl" role="tabpanel" aria-labelledby="nl-tab">
  
          <!-- Dutch -->
  
          <br>
          <p>
            Archiefbeheer draait om het vernietigen van gegevens die aan het einde van hun
            levensduur zijn gekomen. Zaakgericht werken schrijft de archiveringsvoorwaarden
            voor, voor zaken die zijn beëindigd.
          </p>
          <p>
            De Archiefvernietigingscomponent (AVC) biedt functionaliteit voor archiefbeheer
            om de vernietiging van zaken in te plannen volgens de archiveringsvoorwaarden.
            De AVC volgt een proces dat uit meerdere stappen bestaat, over verschillende
            rollen.
          </p>
  
          {% if settings.AVC_DEMO_MODE %}
  
          <p>
            De <strong>demo mode</strong> is geactiveerd en stelt u in staat om deze applicatie te gebruiken vanuit het
            perspectief van verschillende rollen. Wanneer u de applicatie opent, wordt er rechts zelfstudie scherm
            weergegeven waar alle stappen staan uitgelegd. U kunt deze demo vrij verkennen en zelfs de resultaten zien in
            de gekoppelde <a class="text-info" href="https://opengem.nl/producten/open-zaak/">Open Zaak</a>. Alle demo
            data wordt meerdere keren per dag gereset.
          </p>
  
          <p>
            Hier vindt u de verschillende rollen die in de demo beschikbaar zijn:
            <ul class="list-unstyled">
              <li>Functioneel beheerder</li>
              <li>Proces eigenaar</li>
              <li>Archivaris</li>
              <li>Record manager</li>
            </ul>
          </p>
  
          <p>
            <a href="{% demo_record_manager_login_url %}" class="btn btn-sm btn-info"><i class="fas fa-chalkboard-teacher"></i> Start zelfstudie</a>
          </p>
          {% endif %}
  
        </div>
      </div>
  
      <hr>
  
      <p>
        <b>Licensed under the <a class="text-info" href="https://github.com/maykinmedia/archiefvernietigingscomponent/blob/master/LICENSE.md">
          European Union Public License (EUPL) 1.2</a></b>
      </p>
  
      <p>
          <a href="{% url 'admin:login' %}?next={% url 'entry' %}" class="btn btn-sm btn-info"><i class="fas fa-lock"></i> Login</a>
          <a href="{% url 'admin:index' %}" class="btn btn-sm btn-danger"><i class="fas fa-lock"></i> Administration</a>
      </p>
  
    </div>

    <div class="container">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-4 col-md">
            <img class="mb-2" src="{% static 'img/maykin_logo.png' %}" alt="Maykin Media logo" height="48">
            <img class="mb-2" src="{% static 'img/opengem_logo.png' %}" alt="Open Gemeente Initiatief logo" height="48">
            <small class="d-block mb-3 text-muted">
              Developed by <a class="text-info" href="https://www.maykinmedia.nl">Maykin Media</a><br>
              within the <a class="text-info" href="https://opengem.nl">Open Gemeente Initiatief</a> &copy; {% now "Y" %}<br>
              commissioned by the <a class="text-info" href="https://www.utrecht.nl">Municipality of Utrecht</a> and <a class="text-info" href="https://www.delft.nl">Delft</a></a>
            </small>
          </div>
          <div class="col-4 col-md">
            <h5>{{ settings.PROJECT_NAME }}</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://archiefvernietigingscomponent.readthedocs.io/">Documentation</a></li>
              <li><a class="text-muted" href="https://commonground.nl/groups/view/729057dd-30b6-406e-8a42-dc6fe51dd27e/informatie-en-archiefbeheer">Community on CommonGround.nl</a></li>
              <li><a class="text-muted" href="https://hub.docker.com/r/maykinmedia/archiefvernietigingscomponent">Docker images</a></li>
              <li><a class="text-muted" href="https://github.com/maykinmedia/archiefvernietigingscomponent">Code on Github</a></li>
            </ul>
          </div>
          <div class="col-4 col-md">
            <h5>Other</h5>
            <ul class="list-unstyled text-small">
              <li>Report <a class="text-muted" href="https://github.com/maykinmedia/archiefvernietigingscomponent/issues">issues</a> for questions, bugs or wishes</li>
              <li>Read more on <a class="text-muted" href="https://commonground.nl/">Common Ground</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-muted">
            <code>{{ settings.RELEASE }}</code>
          </div>
          <div class="col-6 text-muted text-right">
            <code>{{ settings.GIT_SHA|default:"" }}</code>
          </div>
        </div>
      </footer>
    </div>

    <script src="{% static 'libs/jquery/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'libs/popper/popper.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

    {% block extra_scripts %}{% endblock %}
  </body>
</html>
