{% extends "master.html" %}

{% block content %}

<header>
    <h1 class="title">Mijn vernietigingslijsten</h1>
</header>

<article class="destruction-list">
    <section class="destruction-list__content content-panel">
        <header class="destruction-list__header">
            <h2 class="destruction-list__title section-title section-title--highlight">Vernietigingslijsten</h2>
            <nav class="destruction-list__nav">
                <a class="btn" href="{% url 'destruction:record-manager-create' %}">Opstellen</a>
            </nav>
        </header>


        {% for object in object_list %}
            <div class="list-item {% if object.assignee == request.user %}list-item--important {% endif %}">
            <a class="list-item__title" href="#">{{ object.name }}</a>
            <span>{{ object.get_status_display }}</span>
            </div>
        {% endfor %}
    </section>

    <aside class="destruction-list__notif content-panel">
        <h2 class="section-title section-title--highlight">Notificaties</h2>

        {% for notif in notifications %}
            <div class="list-item">
                <a href="#">{{ notif.destruction_list.name }}</a> - {{ notif.created }}
                <p>{{ notif.message }}</p>
            </div>
        {% endfor %}
    </aside>

</article>

{% endblock %}
