{% extends "master.html" %}

{% block content %}

<header>
    <h1 class="title">Mijn vernietigingslijsten</h1>
</header>

<article class="destruction-list">
    <section class="destruction-list__content content-panel">
        <header class="destruction-list__header">
            <h2 class="destruction-list__title section-title">Vernietigingslijsten</h2>
            <nav class="destruction-list__nav">
                <a class="btn" href="#">Opstellen</a>
            </nav>
        </header>


        {% for object in object_list %}
            <div class="list-item {% if object.assignee == request.user %}list-item--important {% endif %}">
            <a class="list-item__title" href="#">{{ object.name }}</a>
            <span>{{ object.get_status_display }}</span>
            </div>
        {% endfor %}
    </section>

    <aside class="destruction-list__notif content-panel">
        <h2 class="section-title">Notificaties</h2>
        <p>TODO</p>
    </aside>

</article>

{% endblock %}
