.demo_sidenav {
  height: 100%;
  width: 360px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ebf8fa;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 20px;
  box-shadow: -5px 0px 5px 0px lightgray;
}

.demo {

  .main {
    padding-right: 370px;
    padding-left: 10px;
  }

  .modal {
    margin-right: 400px;
    left: 10%;
    right: 10%;
  }
}
