<nav class="sidenav">
    {% if current_user.is_authenticated %}
        <p>U bent ingelogd als <strong>{{ current_user }}</strong>.</p>

        <a href="{% url 'admin:logout' %}?next={% url 'entry' %}">Afmelden</a>
    {% else %}
        <p>U bent niet ingelogd.</p>
    {% endif %}

    <div class="sidebar-header">
        <h3>Tutorial</h3>
    </div>
    <p>Deze applicatie staat in demo modus.</p>

    <p>Demo gebruikers:</p>
    <ul>
        {% for demo_user in demo_users %}
        <li>
            <form id="log-in-{{ demo_user }}" action="{% url 'admin:login' %}" target="{% url 'entry' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="username" id="id_username" value="{{ demo_user }}"/>
                <input type="hidden" name="password" id="id_password" value="{{ demo_user }}"/>
                <input type="submit" value="{{ demo_user }}">
            </form>
        </li>
        {% endfor %}
    </ul>
</nav>

