<nav class="sidenav">
    {% if current_user.is_authenticated %}
        <p>U bent ingelogd als <strong>{{ current_user }}</strong>.</p>

        <a href="{% url 'admin:logout' %}?next={% url 'entry' %}">Afmelden</a>
    {% else %}
        <p>U bent niet ingelogd.</p>
    {% endif %}

    <div class="sidebar-header">
        <h3>Tutorial</h3>
    </div>
    <p>Deze applicatie staat in demo modus.</p>

    <p>Demo gebruikers:</p>
    <ul class="list-unstyled">
        {% for demo_user in demo_users %}
        <li>
            <form action="{% url 'demo-login' demo_user.pk %}" method="get">
                <button type="submit">{{ demo_user }}</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</nav>

