<style type="text/css">

    .link, .link:visited {
        color: #{{ config.color_link }};
    }
    .link:hover {
        color: #{{ color_link_dark }};
    }
    
    .footer {
        background-color: #{{ config.color_primary }};
    }
     
    .table .table__header {
        border-bottom-color: #{{ config.color_primary_light }};
    }

    .section-title--highlight {
        border-left: solid 4px #{{ config.color_secondary }};
    }

    .input .input__control.input__control--text:focus {
        outline-color: #{{ config.color_secondary }};
    }
    .input .input__control.input__control--textarea:focus {
        outline-color: #{{ config.color_secondary }};
    }
    .input .input__control.input__control--select:focus {
        outline-color: #{{ config.color_secondary }};
    }
    .input .input__control.input__control--file + label:focus {
        outline-color: #{{ config.color_secondary }};
    }
    
    .loader {
        border-top-color: #{{ config.color_primary }};
    }
    
    .form .form__group-title:after {
        border-color: #{{ config.color_primary }};
    }
    
    .log-item .log-item__user {
        color: #{{ config.color_primary }};
    }
    
    .list-item--highlighted {
        background-color: #{{ config.color_secondary }};
    }
    
    .destruction-list-preview .destruction-list-preview__title {
        color: #{{ config.color_primary }};
    }
    
    .destruction-list-preview .destruction-list-preview__assigned {
        color: #{{ config.color_primary }};
    }
    
    .notifications-list .notifications-list__notif-goto:hover {
        color: #{{ config.color_primary }};
    }

</style>
