{% extends "master.html" %}

{% block content %}

<article id="content-main">

    {{ zaaktypen|json_script:"zaaktype-choices" }}
    {{ reviewers|json_script:"reviewer-choices" }}
    {{ short_review_zaaktypes|json_script:"short-review-zaaktypes" }}

    {{ form.errors }}
    {{ form.non_field_errors }}

        <div class="destruction-create"
             id="react-destruction-list"
             data-zaken-url="{% url 'destruction:fetch-zaken' %}"
             data-url="{% url 'destruction:record-manager-create' %}"
             data-current-date="{{ current_date }}"
             data-csrftoken="{{ csrf_token }}"
        >
{#             empty on purpose - react managed #}
        </div>


</article>

{% endblock %}
