{% extends "master.html" %}{% load i18n %}

{% block content %}
<article class="destruction-list-detail">
    <form action="" method="post">
        {% csrf_token %}


            <div class="destruction-list-detail__btns">
                {% if can_update %}
                    <button type="submit" class="btn" name="submit" value="submit">{% trans "Insturen" %}</button>
                {% endif %}
                {% if can_abort %}
                    <button type="submit" class="btn" name="abort" value="abort">{% trans "Annuleren" %}</button>
                {% endif %}
            </div>

        <header class="destruction-list-detail__header">
            <h1 class="title">Lijst "{{ form.instance.name }}"</h1>
            <span>{% blocktrans %}Gemaakt op {{ form.instance.created }}{% endblocktrans %}</span>
        </header>


        <div class="destruction-list-detail__review">

            <h2 class="section-title">{% trans "Laatste beoordeling" %}</h2>
            {% if form.instance.last_review %}
                <p>{% trans "Auteur" %}: {{ form.instance.last_review.author.get_full_name }}</p>
                <p>{% trans "Resultaat" %}: {{ form.instance.last_review.get_status_display }}
                <p>{% trans "Opmerkingen" %}: {{ form.instance.last_review.text|default:"Geen opmerkingen" }}</p>
            {% else %}
                <p>{% trans "De vernietigingslijst is nog niet beoordeeld." %}</p>
            {% endif %}

        </div>

        {{ form }}
        {{ form.errors }}

        {% for formset in inlines %}
            {% if formset.errors %}
                {{ formset.errors }}
            {% endif %}
        {% endfor %}

        {{ formset_config|json_script:"formset-config" }}

        <div
            id="react-destruction-list-detail"
            data-items-url="{% url 'destruction:fetch-list-items' form.instance.id %}"
            data-can-update="{{ can_update }}"
        >
        {#             empty on purpose - react managed #}
        </div>
    </form>

</article>

{% endblock %}
