{% load i18n %}

{% trans "Format state of desctruction" %}

<table style="width:100%">
    <tr>
        <th>{% trans "Unique ID" %}</th>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Duration" %}</th>
        <th>{% trans "Destruction category Selectielijst" %}</th>
        <th>{% trans "Explanation" %}</th>
        <th>{% trans "Remarks SAD" %}</th>
        <th>{% trans "Reaction caretaker" %}</th>
    </tr>

    <tr>
        {% for destroyed_zaak in destroyed_zaken %}
        <td>{% trans destroyed_zaak.identificatie  %}</td>
        <td>{% trans destroyed_zaak.omschrijving  %}</td>
        <td>{% trans destroyed_zaak.looptijd  %}</td>
        <td>{% trans destroyed_zaak.vernietigings_categorie  %}</td>
        <td>{% trans destroyed_zaak.toelichting  %}</td>
        <td>{% trans destroyed_zaak.opmerkingen  %}</td>
        <td>{% trans destroyed_zaak.reactie_zorgdrager  %}</td>
        {% endfor %}
    </tr>
</table>
