@import "../lib/bem";
@import "../lib/colors";

.log-item {

  padding: 0 1em;
  border-radius: 3px;
  display: flex;
  margin: 0.25em 0;

  &:hover {
    background: #fedede;
  }

  @include element("title") {
    display: block;
  }

  @include element("body") {
    padding-left: 1em;

    code {
      display: block;
      background: #eeeeee;
      padding: 0.5em;
    }
  }
}
