@import "../lib/bem";


.reviewer-list {
  display: flex;
  justify-content: space-between;

  @include element("filters") {
    width: 15%;

    ul {
      padding-inline-start: 0;
      }

    li {
      list-style-type: none;
    }
  }
  @include element("content") {
    width: 50%;
    padding: 1em;
  }

  @include element("notif") {
    width: 30%;
  }

}
