@import "../lib/typography";
@import "../lib/colors";

.section-title {
  @include subtitle;

  font-size: 1.1rem;

  &--highlight {
    border-left: solid 4px rgba($color-secondary, 0.8);
    margin-left: -.5em;
    padding-left: .5em;
  }
}
