@import "../lib/bem";
@import "../settings";

$main-content-background-color: #fefefe;

.zaaktype-select {
  font-size: $typography-font-size-text-small;
  overflow-x: scroll;

  // best effort - see https://caniuse.com/#feat=css-scrollbar
  scrollbar-width: $scrollbar-width;
  scrollbar-color: $scrollbar-color #eee;

  @include element("description") {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  @include element("groups") {
    list-style-type: none;
    padding-inline-start: 0;
    margin-left: 0;
  }

  @include element("label") {
    padding-left: 0.3rem;
  }

  @include element("items") {
    list-style-type: none;
  }

  @include element("btn") {
    border: none;
    background-color: $main-content-background-color;
    cursor: pointer;
    text-align: center;
  }

  @include element("group") {
    display: inline-flex;
    max-width: calc(100% - 24px);
  }
}
