{% extends "master.html" %}{% load i18n %}

{% block content %}
<article class="destruction-list-detail">
    <form action="" method="post">
        {% csrf_token %}


            <div class="destruction-list-detail__btns">
                {% if can_update %}
                    <button type="submit" class="btn" name="submit" value="submit">{% trans "Submit" %}</button>
                {% endif %}
                {% if can_abort %}
                    <button type="submit" class="btn" name="abort" value="abort">{% trans "Cancel" %}</button>
                {% endif %}
            </div>

        <header class="destruction-list-detail__header">
            <h1 class="title">{% blocktrans with list_name=form.instance.name %}Destruction list "{{ list_name }}"{% endblocktrans %}</h1>
            <span>{% blocktrans with creation_date=form.instance.created %}Created on {{ creation_date }}{% endblocktrans %}</span>
        </header>

        <div class="destruction-list-detail__review">

            <h2 class="section-title">{% trans "Last review" %}</h2>
            {% if form.instance.last_review %}
                <p>{% trans "Author" %}: {{ form.instance.last_review.author.get_full_name }}</p>
                <p>{% trans "Result" %}: {{ form.instance.last_review.get_status_display }}
                <p>{% trans "Comments" %}: {{ form.instance.last_review.text|default:"No comments" }}</p>
            {% else %}
                <p>{% trans "The destruction list hasn't been reviewed." %}</p>
            {% endif %}

        </div>

        {{ form }}
        {{ form.errors }}
        {{ comment_form.errors }}

        {% for formset in inlines %}
            {% if formset.errors %}
                {{ formset.errors }}
            {% endif %}
        {% endfor %}

        {{ formset_config|json_script:"formset-config" }}

        <div
            id="react-destruction-list-detail"
            data-items-url="{% url 'destruction:fetch-list-items' form.instance.id %}"
            data-can-update="{{ can_update }}"
        >
        {#             empty on purpose - react managed #}
        </div>
    </form>

</article>

{% endblock %}
