{% extends "master.html" %}

{% block content %}

<article id="content-main">

    {{ zaaktypen|json_script:"zaaktype-choices" }}
    {{ reviewers|json_script:"reviewer-choices" }}
    {{ short_review_zaaktypes|json_script:"short-review-zaaktypes" }}

    {% for field in form %}
        {% for error in field.errors %}
            <div class="error-message">
                <span class="material-icons">error_outline</span>{{ field.label }}: {{ error }}
            </div>
        {% endfor %}
    {% endfor %}
    {% if form.non_field_errors %}<div class="error-message">{{ form.non_field_errors }}</div>{% endif %}

        <div class="destruction-create"
             id="react-destruction-list"
             data-zaken-url="{% url 'destruction:fetch-zaken' %}"
             data-url="{% url 'destruction:record-manager-create' %}"
             data-archive-update-url="{% url 'destruction:update-zaak-archive-details' %}"
             data-current-date="{{ current_date }}"
             data-csrftoken="{{ csrf_token }}"
        >
{#             empty on purpose - react managed #}
        </div>


</article>

{% endblock %}
