{% load i18n %}

{% if can_download  %}
    <span class="destruction-list-preview__download-report">
        {% trans "Download destruction report: " %}&nbsp;
        pdf
        <a href="{{ url_pdf }}" title="Download verklaring van vernietiging">
                <i class="material-icons">file_download</i>
        </a>&nbsp;
        csv
        <a href="{{ url_csv }}" title="Download verklaring van vernietiging">
                <i class="material-icons">file_download</i>
        </a>
    </span>
{% endif %}
