{% load i18n %}
<ul class="notifications-list">
    {% for notif in notifications %}
        <li class="notifications-list__notification">
            <header class="notifications-list__notif-meta">

                <span class="notifications-list__notif-title">
                    {{ notif.destruction_list.name }}
                    <time class="notifications-list__notif-timestamp" title="{{ notif.created.isoformat }}">
                        {% blocktrans with duration=notif.created|timesince trimmed %}
                            {{ duration }} ago
                        {% endblocktrans %}
                    </time>
                </span>

                <a href="{% url 'destruction:dl-redirect' pk=notif.destruction_list.pk %}" class="notifications-list__notif-goto" title="{% trans 'View destruction list' %}">
                    <i class="material-icons">launch</i>
                </a>
            </header>

            <p class="notifications-list__notif-content">
                {{ notif.message|linebreaksbr }}
            </p>

        </li>
    {% endfor %}
</ul>
