@import "../lib/bem";
@import "../lib/colors";

$btn-background-color: $color-background;

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  background: $btn-background-color;

  font-size: 1.2rem;
  border: solid 1px transparent;
  box-shadow: 2px 1px 3px 0 rgba(#000, 0.2);
  cursor: pointer;
  outline: none;

  color: $color-text;
  text-decoration: none;

  &:hover:not(:disabled) {
    background: $color-secondary;
  }

  &:disabled {
    opacity: .65;
    cursor: auto;
  }

  @include modifier("centered-content") {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  @include modifier("secondary") {
    padding: 0.2em 0.75em;

    border: solid 1px rgba(#000, 0.2);
    box-shadow: 2px 1px 2px 0 rgba(#000, 0.2);

    background: white;
    opacity: 0.75;
    font-size: 1rem;

    transition: transform 0.2s ease;

    &:hover {
      opacity: 1;
      background: $color-primary;
      color: white;
      border-color: transparent;
      box-shadow: 2px 1px 4px 0 rgba(#000, 0.4);
      transform: scale(1.06);
    }
  }

  @include element("icon") {
    @include modifier("left") {
      margin-right: 0.5em;
    }
  }
}
