@import "../lib/colors";

$scrollbar-width: 6px;
$scrollbar-color: darken($color-primary, 10%);

.destruction-list {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;

  &__filters {
    width: 15%;
    padding-left: 1em;
    padding-bottom: 1em;
    border-right: dashed 1px #ddd;

    ul {
      padding-inline-start: 0;
      }

    li {
      list-style-type: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }

  &__title {
    flex: 1;
  }

  &__nav {
    flex: 1;
    text-align: left;
    margin-right: 1.5em;
  }

  &__content {
    width: 50%;
    padding: 1em;
  }

  &__notif {
    width: 30%;
    max-height: 70vh;
    overflow-y: scroll;

    // best effort - see https://caniuse.com/#feat=css-scrollbar
    scrollbar-width: $scrollbar-width;
    scrollbar-color: $scrollbar-color #eee;

    &::-webkit-scrollbar {
      width: $scrollbar-width;
    }

    &::-webkit-scrollbar-track {
      background: #eee;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-color;
    }
  }
}
