@import "../lib/bem";


.destruction-list-detail {

  @include element("header") {
    text-align: center;
  }

  @include element("btns") {
    position: absolute;
    right: 1em;

    .btn + .btn {
      margin-left: 0.5em;
    }
  }

  @include element("review") {
    padding-left: 1em;
  }

  @include element("review-comment") {
    padding: 2em 1em;
  }

}
