@import "../lib/bem";
@import "../lib/colors";


.review-create {

  @include element("header") {
    text-align: center;
  }

  @include element("btn") {
    position: absolute;
    right: 1em;
  }

  @include element("comment") {
    padding: 0 1em;
  }

  @include element("list-details") {
    color: $color-text--light;
  }

  @include element("review-comment") {
    padding: 1em 1em;
    margin: 2em 1em;
    background: #eee;
    border-radius: 5px;

    .header {
      display: inline-flex;
      font-size: 1.1em;
      opacity: 0.75;
    }

    .text {
      width: 100%;
      display: flex;
      margin-top: 1em;
      opacity: 0.75;
    }
  }

  @include element("btns") {
    position: absolute;
    right: 2em;

    .btn + .btn {
      margin-left: 0.5em;
    }
  }

}
