@import "../lib/bem";
@import "../lib/colors";

.zaak-record {

  @include element("zaaktype") {
    display: block;
    padding: 0.4em 0;
    line-height: 1.3;
  }

  @include modifier("disabled") {
    background-color: $color-background;
    opacity: 0.65;
  }

  .zaak-record__edit {
    cursor: pointer;
  }
}
