@import "../lib/bem";

$main-content-background-color: #fefefe;

.zaaktype-select {
  font-size: 0.8rem;
  overflow-x: scroll;

  @include element("description") {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  @include element("groups") {
    list-style-type: none;
    padding-inline-start: 0;
  }

  @include element("items") {
    list-style-type: none;
  }

  @include element("btn") {
    border: none;
    background-color: $main-content-background-color;
    cursor: pointer;
    text-align: center;
  }

  @include element("group") {
    display: inline-flex;
    max-width: calc(100% - 24px);
  }
}
