{% load i18n %}
<code class="log-item__title" title="{{ log.timestamp.isoformat }}">
    <strong>[{{ log.timestamp|date:'Y-m-d H:i' }}]:</strong>
</code>

<div class="log-item__body">
    {% if log.extra_data.n_items %}
        {% blocktrans with list=log.content_object role=log.user.role count counter=log.extra_data.n_items trimmed %}
            User with role <strong>{{ role }}</strong> has updated the list <strong>{{ list }}</strong>
            and removed {{ counter }} case:
        {% plural %}
            User with role <strong>{{ role }}</strong> has updated the list <strong>{{ list }}</strong>
            and removed {{ counter }} cases:
        {% endblocktrans %}

        <div class="log-item__cases">
            {% for item in log.extra_data.items %}
                {{ item }}{% if forloop.last %}. {% else %}, {% endif %}
            {% endfor %}
        </div>
    {% else %}
        {% blocktrans with list=log.content_object role=log.user.role trimmed %}
            User with role <strong>{{ role }}</strong> has resubmitted the list <strong>{{ list }}</strong>
            for review.
        {% endblocktrans %}
    {% endif %}

    {% if log.extra_data.text %}
        <div class="log-item__author-comment">
            {% blocktrans with text=log.extra_data.text trimmed %}
                <strong>Author's comment</strong>: {{ text }}
            {% endblocktrans %}
        </div>
    {% endif %}
</div>
