@import "../lib/colors";

$main-content-border-color: $color-border !default;

.content-panel {
  border: solid 1px $main-content-border-color;
  box-shadow: 1px 1px 2px 0 rgba(black, 0.2);
  padding: .5em;
  margin: .5em;
}
