.destruction-create {
  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1;
  }

  &__nav {
    text-align: right;
    margin-right: 0.3em;
  }

  &__zaaktype{
    font-size: 0.9rem;
  }

  &__content {
    display: flex;
  }

  &__filters {
    width: 30%;
  }

  &__zaken {
    width: 70%
  }
}
