@import "../lib/bem";
@import "../lib/colors";
@import "../lib/typography";


.destruction-list-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  background: #eee;
  padding: 0.5em 1em;
  border-radius: 3px;

  @include element("title") {
    color: $color-primary;
    font-size: 1.1rem;
  }

  @include element("title") {
    flex-grow: 3;
  }

  @include element("indicators") {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }

  @include element("status") {
    display: flex;
    align-items: center;
  }

  @include element("assigned") {
    display: flex;
    align-items: center;
    color: $color-primary;
  }

  @include element("details") {
    @include body-meta;
    width: 100%;
    display: flex;
  }

  @include element("btn") {
    display: flex;
    padding: 0.25em 0.5em;
    margin-left: 1em;
    margin-top: 0.25em;
    background: $color-text--light;
    border: solid 1px transparent;
    border-radius: 1em;
    cursor: pointer;
    color: #fefefe;
    text-decoration: none;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }

  & + & {
    margin-top: 1em;
  }

  &__assigned + &__status {
    margin-left: 0.5em;
  }
}
