@import "../lib/container";

$main-content-background-color: #fefefe !default;
$main-content-border-color: #ddd !default;

.main {
  min-height: 90vh;
  padding: 0;

  & &__content {
    @include container;

    background-color: $main-content-background-color;
  }
}
