@import "../lib/bem";
@import "../lib/colors";


.review-create {

  @include element("header") {
    text-align: center;
  }

  @include element("btn") {
    position: absolute;
    right: 1em;
  }

  @include element("comment") {
    padding: 0 1em;
  }

  @include element("list-details") {
    color: $color-text--light;
  }
}
