@import "../lib/bem";


.review-create {

  @include element("header") {
    text-align: center;
  }

  @include element("btn") {
    position: absolute;
    right: 1em;
  }

  @include element("comment") {
    padding: 1em;

    > label {
      margin-right: 1em;
    }
  }

}
